ul {
	list-style: none;
	display: inline-block;
	padding: 10px;
}

li {
	display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    border-right: solid 1px #eee;
}
li:firstchild {
	border-left: solid 1px #eee;
}